[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
coverage = "*"
pytest = "*"
black = "*"

[packages]
pre-commit = "*"
bs4 = "*"
requests = "*"
spacy = "*"
tqdm = "*"
langdetect = "*"
sklearn = "*"
matplotlib = "*"
nltk = "*"
pandas = "*"
pygit = "*"
gitpython = "*"
bz2file = "*"
translate = "*"
textstat = "*"
gensim = "*"
stop-words = "*"

[scripts]
test = "coverage run -m unittest discover -s ./tests -p *_test.py"
report = "coverage html"
main = "python ./src/main.py"
download_spacy_corpus = "python -m spacy download de_core_news_sm"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
